#map {
	width: 500px;
	height: 500px;

	width: 100vw;
	height: 100vh;
}

#debug {
	position: absolute;
	bottom: 15px;
	left: 15px;
	color: white;
}

#update {
	position: absolute;
	bottom: 20px;
	right: 10px;
	height: 50px;
	width: 50px;
	background-image: url("../images/geopointer.svg");
	background-size: cover;
	cursor:pointer;
	text-indent: -9999px;
}


#error {
	position: absolute;
	bottom: 50%;
	right: 40%;
	padding: 20px;
	height: 100px;
	width: 200px;
	font-size: 20px;
	background-color: #fff;
}


#score {
	position: absolute;
	top: 20px;
	right: 10px;
	height: 50px;
	width: 100px;
	text-align: right;

	color: white;
}
#score #points {
	font-size: 30pt;
}

#fullscreen {
	position: absolute;
	bottom: 80px;
	right: 10px;
	height: 50px;
	width: 50px;
	background-image: url("../images/fullscreen.svg");
	background-size: cover;
	cursor:pointer;
}

.hide {
	display: none;
}

#preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 58px;
    height: 58px;
    background-size: 58px 58px;
    margin-top: -29px;
    margin-left: -29px;
    z-index:-1;
    
    background-image: url("../images/preloader.svg");
}
