
/* FONT FACE */
@font-face {
  	font-family: 'Arimo';
  	font-style: normal;
  	font-weight: 400;
	src: url(fonts/normal.woff) format("woff"),
     url(fonts/normal.ttf) format("truetype");
	}


/* typografie */
html,
body {
	font-family: 'Arimo', 'Helvetica Neue', 'HelveticaNeue', 
	  Helvetica, Arial, 'Lucida Grande', sans-serif;
    -webkit-print-color-adjust:exact;
}


button,
p,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Arimo', "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.1;
  color: inherit;
}

h1{
    font-size: 25pt;
}
h2{
    font-size: 20pt;
    line-height: 1.4;
}

h3 {
    font-size: 16pt;
}

@media (max-width: 500px) {
    h1{
        font-size: 36px;
    }/*e/h1*/
    
    h2{
        font-size: 16pt;
    }/*e/h1*/

}/*e/mq*/

.txt p {
    line-height: 1.4;
}
.txt ol{
    list-style-type: decimal;
    list-style-position: outside;
    margin-left: 15px;
    line-height: 1.4;
}

.txt ul{
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 15px;
    line-height: 1.4;

}

a{
	color: black;
}
a:hover{
	color: #302D2B;
}




header {
	width: 100%;
	height: 44px;
	background-color: rgba(0,119,127,0.6);
	position: fixed;
	top: 0px;
	z-index: 1;
}

/* check if changes phonegap.css */

header .back {
	float: left;
	width: 20%;
	height: 44px;
}
header .back a {
	background-image: url("../images/fa-caret-left.svg");
	display: block;
	height: 44px;
	width: 44px;
	background-size: 30px 30px;
	background-position: center;
	background-repeat: no-repeat;
}


header .user {
	float: right;
	width: 80%;
}
header .user .text{
	padding-top: 13px;
	float: right;
	color: #fff;
	padding-right: 10px;
}

header .user .image {
	float: right;
	height: 44px;
	border-radius: 22px;

}


.container {
	width: 960px;
	margin: 44px auto 0px auto;
}
@media (max-width: 960px) {
	.container {
		width: 100%;
	}

}
/* check if changes phonegap.css */


#map {
	width: 500px;
	height: 500px;

	width: 100vw;
	height: 100vh;
	position: absolute;
	position: fixed;

	top: 0px;
}

.login-map {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);

	z-index: -1;
}

.login-box {
	margin-top: 100px;
}



.leaflet-control-attribution {
	display: none;
}

#providers {
	margin-top: 50px;
}



#providers-disabled {
	display: none;
	margin-bottom: 15px;
}

.login-small-box {
	margin: auto auto;
	width: 400px;
	display: block;
}
@media (max-width: 400px) {
	.login-small-box {
		width: 94%;
		margin: 10px 10px;
	}
}

.login-logo {
	display: block;
	background-image: url("../images/ghosthunter.svg");
	width: 150px;
	height: 150px;
	background-size: cover;
	border-radius: 5px;
}
@media (max-width: 400px) {
	.login-logo {
		width: 90px;
		height: 90px;
	}
}


.login-name {
	margin-top: 10px;
	float: right;
	font-size: 30px;
	width: 240px; 
}

@media (max-width: 400px) {
	.login-name {
		margin-top: 0px;
		width: 210px; 
	}
}

.login-name h1 {
	font-size: 40px;
}
.login-name p {
	font-size: 20px;
}

@media (max-width: 400px) {
	.login-name h1 {
		font-size: 35px;
	}
}


.login-facebook {
	display: block;
	color: blue;
	margin-bottom: 15px;
	height: 22px;
	padding: 11px;
	padding-bottom: 8px;
	background-color: #00777F;
	border-radius: 3px;
	text-decoration: none;
	color: white;
}
.login-facebook:hover {
	color: white;
	background-color: rgba(0,119,127,0.6);
}
.login-facebook-low {
	display: block;
	color: blue;
	margin-bottom: 30px;
	height: 22px;
	padding: 11px;
	padding-bottom: 8px;
	background-color: rgba(0,119,127,0.3);
	border-radius: 3px;
	text-decoration: none;
	color: white;
}
.login-facebook-low:hover {
	color: white;
	background-color: rgba(0,119,127,0.6);
}
.login-google {
	display: block;
	color: blue;
	height: 22px;
	padding: 11px;
	padding-bottom: 8px;
	background-color: #B25F26;
	border-radius: 3px;
	text-decoration: none;
	color: white;
	margin-bottom: 15px;
}

.login-google:hover {
	color: white;
	background-color: rgba(178,95,38,0.6);
}


.login-google-low {
	display: block;
	color: blue;
	height: 22px;
	padding: 11px;
	padding-bottom: 8px;
	background-color: rgba(178,95,38,0.3);
	border-radius: 3px;
	text-decoration: none;
	color: white;
	margin-bottom: 15px;
}

.login-google-low:hover {
	color: white;
	background-color: rgba(178,95,38,0.6);
}

.login-map .info {
	margin-top: 30px;
}


.dashboard-box {
	margin-top: 100px;
}

.dashboard-name {
	margin-top: 10px;
	float: right;
	font-size: 30px;
	width: 340px; 
}

@media (max-width: 400px) {
	.dashboard-name {
		margin-top: 0px;
		width: 210px; 
	}
}

.dashboard-name h1 {
	font-size: 40px;
}
.dashboard-name p {
	font-size: 20px;
}

@media (max-width: 400px) {
	.dashboard-name h1 {
		font-size: 35px;
	}
}


.dashboard-name-box {
	margin: auto auto;
	width: 400px;
	display: block;
	height: 120px;
}
@media (max-width: 400px) {
	.dashboard-name-box {
		width: 94%;
		margin: 10px 10px;
	}
}

dashboard-name-box img {
	margin-left: 10px;
}

.dashboard-login {
	display: block;
	color: blue;
	margin-bottom: 15px;
	height: 22px;
	padding: 11px;
	padding-bottom: 8px;
	background-color: #00777F;
	border-radius: 3px;
	text-decoration: none;
	color: white;
}

.dashboard-login:hover {
	color: white;
	background-color: rgba(0,119,127,0.6);
}

.dashboard-box .score,
.dashboard-box .health,
.dashboard-box .money {
	margin-top: 20px;
	width: 33%;
	float: left;
}

.dashboard-box .score p,
.dashboard-box .health p,
.dashboard-box .money p{
	font-size: 30pt;
}

#users {
	margin-top: 140px;
}

#users p {
	height: 44px;
	margin-bottom: 10px;
}
#users h3 {
	margin-bottom: 10px;

}
#users img {
	height: 44px;
	border-radius: 22px;
	float: left;
}

#users a {
	margin-top: 10px;
	margin-left: 10px;
	float: left;
}

#users span {
	margin-top: 10px;
	float: right;
}



#debug {
	position: absolute;
	bottom: 15px;
	left: 15px;
	color: white;
}

#update {
	position: absolute;
	bottom: 20px;
	right: 10px;
	height: 50px;
	width: 50px;
	background-image: url("../images/geopointer.svg");
	background-size: cover;
	cursor:pointer;
	text-indent: -9999px;
}


#error {
	position: absolute;
	bottom: 50%;
	right: 40%;
	padding: 20px;
	height: 100px;
	width: 200px;
	font-size: 20px;
	background-color: #fff;
}


#score {
	position: absolute;
	top: 55px;
	right: 10px;
	height: 50px;
	width: 130px;
	text-align: right;
	color: black;
}

#score #points {
	margin-bottom: 5px;
	font-size: 30px;
}
#score #health {
	margin-bottom: 5px;
	font-size: 30px;
}
#score #money {
	margin-bottom: 5px;
	font-size: 30px;
}

#fullscreen {
	position: absolute;
	bottom: 80px;
	right: 10px;
	height: 50px;
	width: 50px;
	background-image: url("../images/fullscreen.svg");
	background-size: cover;
	cursor:pointer;
}

.hide {
	display: none;
}

#preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 58px;
    height: 58px;
    background-size: 58px 58px;
    margin-top: -29px;
    margin-left: -29px;
    z-index:-1;
    
    background-image: url("../images/preloader.svg");
}


.facebook-messenger {
	display: none;
	z-index: 2;
	position: absolute;
	font-size: 20px;
	top: 70%;
	right: 10px;
	padding: 10px;
	background: #88b7d5;
	border: 4px solid #c2e1f5;
}
.facebook-messenger:after, .arrow_box:before {
	top: 100%;
	left: 80%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.facebook-messenger img {
	float: left;
	height: 40px;
	width: 40px;
}
.facebook-messenger:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #88b7d5;
	border-width: 30px;
	margin-left: -30px;
}
.facebook-messenger:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #c2e1f5;
	border-width: 36px;
	margin-left: -36px;
}
